/*
font-family: 'Permanent Marker', cursive;
font-family: 'Muli', sans-serif;
font-family: 'Happy Monkey', cursive;
font-family: 'IM Fell English', serif;
font-family: 'Rock Salt', cursive;
 */
/*This is the general styling section
 *Now I have added some stuff for the jQuery assignment
 */
body{
	margin:0 0 0 0;
}
h1, h2, h3{
        font-family: 'Permanent Marker';
}
h2{
	/*font-size:18px;*/
	font-size:1.0em;
}
h3{
	font-size: 1.0em;
}
p, li{
        font-family:'Happy Monkey', cursive;
        font-size:1.0em;
}

header{
	border-bottom-style:solid;
	background: rgb(65,209,29); /*this is for tablets*/
    background: linear-gradient(rgb(65, 209, 29), rgb(16, 95, 9));
}
header nav a{
	/*height: 30px;*/
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
header, header h1{
        position: static;
        top: 0px;
        width: 100%;
        font-family:'Rock Salt',cursive;
        text-align: center;
        font-size: 100%;
}
header h1{
        height:2em;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size:1.5em;
}
#content{
	padding-bottom: 2.5em;
}
/*This is the footer styling portion*/
footer {
	position: fixed;
	border-top-style:solid;
	background:rgb(65,209,29);/*this is for tablets*/
	background:linear-gradient(rgb(16,95,9),rgb(65,209,29));
	height: 2em;
	width: 100%;
	bottom: 0em;
	z-index: 1000;
	text-align: center;
}
/*This is the main navigation styling*/
header button{
	font-family:'Rock Salt',cursive;
	background:#000000;
	border:#000000;
	color: rgb(247, 247, 247);
}
header button:hover{
	background:rgb(20, 111, 34);
}
/*This is the alertToggle button styling*/
#alertToggle{
	background: rgb(214,204,11);
}

/*This is the Home page styling*/
#homeSec{
	margin:1em;
}
/*This is the About Me page styling*/
#aboutMeSec{
	text-align:center;
}
#aboutMeSec h1{
	text-decoration:underline;
	margin-left:1em;
}
.contactMe{
        font-family:'Muli', sans-serif;
        text-decoration: none;
        float:left;
        margin-left:1em;
        padding-bottom: 3em;
}

div.txtWithImg {
	margin: 1em;
	position: relative;
	width: 30em;
	height: 20em;
	border: 0.2em solid #000;
	overflow: hidden;
	float:left;
}	
	div.txtWithImg div img{
		height:100%;
	}
	div.txtWithImg div {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: gray;/*this is for tablets*/
   		-webkit-transition: left 1s ease-in-out;
   		-ms-transition: left 1s ease-in-out;
   		-moz-transition: left 1s ease-in-out;
   		-o-transition: left 1s ease-in-out;
   		transition: left 1s ease-in-out;
   		background: linear-gradient(rgb(237, 243, 235), rgb(183, 187, 182));
	}
	div.txtWithImg div.imgTxt{
		font-family: 'Happy Monkey', cursive;
		width: 28em;
		height: 18em;
		padding: 1em;
		text-align:justify;
		font-size:1.0em;
	}
	div.txtWithImg div.txtImg {
		text-align:center;
		z-index: 1000;
	}		
	
div.txtWithImg:hover div.txtImg {
	-webkit-transition: left 1s ease-in-out;
	-ms-transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-o-transition: left 1s ease-in-out;
	-webkit-transition: left 1s ease-in-out;
	left: -40em;
}

/*This is the HTML1 page styling*/
#accordionStatus{
	font-family: 'Permanent Marker';
	font-size: 0.9em;
	color:rgb(20,111,34);
}
#accordionOpt button{
	font-family:'Rock Salt',cursive;
	background:#000000;
	border:#000000;
	color: rgb(247, 247, 247);
}
#accordionOpt button:hover{
	background:rgb(20, 111, 34);
}

.reportText h2:hover{
	background:#808080;
}
.reportText h2{
	cursor: pointer;
}
.reportText div{
	display: none;
}
#contentNavAndText{
        width: 100%
        position: absolute;
}
#contentNavAndText a{
        font-family: 'Permanent Marker';
        color: black;
        text-decoration:none;
}
#contentNavAndText a:hover{
        color:#0000FF;
        font-size:1.2em;
}
#docNav{
        position: fixed;
        width: 14%;
        overflow:auto;
        margin-left: 2%;
        margin-right: 2%
        /*border-right: solid;
        border-color:#000000;
        border-width:10px;*/
}
#html1Sec{
        width: 80%;
        margin: 0px;
        position: absolute;
        right: 0px;
        float: left;
        overflow:hidden;
        border-left-style: solid;
		padding-left: 2%;
		padding-bottom:3em;
}
/*notification styling*/
#notification{
	border-style:solid;
	height:200px;
	width:250px;
	text-align: center;
	left:35%;
	top:40%;
	position:fixed;
	font-size:14px;
	background-color:rgb(229,230,23);
	z-index: 1000;
}
#notification h2{
	font-family: 'IM Fell English', serif;
}
.noticeButton{
	font-family: 'IM Fell English', serif;
	background:#000000;
	border:#000000;
	color: rgb(247, 247, 247);
}
.noticeButton:hover{
	color: rgb(299,230,23);
}
/*This is the AboutMeTabs page styling*/
.tags{
	height:100%;
}
.tabImg{
	height:100%;
	float: left;
	margin-right:20px;
}
.tabTxt{
	height:100%;
}
#tabs{
	height:100%;
}
.ui-widget-content{
	border:none;
}
