#aboutMeSec section{
	height:150px;
	width: 100%;
	border: 20px;
	border-color: black;
	transition: 1s;
}
#aboutMeSec img{
	height: 100%;
	float: left;
	padding-right: 50px;
}
/*
font-family: 'Permanent Marker', cursive;
font-family: 'Muli', sans-serif;
font-family: 'Happy Monkey', cursive;
font-family: 'IM Fell English', serif;
font-family: 'Rock Salt', cursive;
 */
#aboutMeSec p{
	padding-left: 15px;
}
header{
	position: relative;
	float: top;
	width: 100%;
	font-family:'Rock Salt',cursive;
	text-align: center;
	font-size: 30px;
}
header h1{
	10em;
	margin-bottom: 0px;
}

#aboutMeSec section:hover{
	height: 200px;
	transition: height 1s;
	font-size: large;
	margin: 0px;
	border: 0px;
	padding: 0px;
	color: blue;
	font-size: 20px;
}

#contentNavAndText{
	width: 100%
	position: absolute;
}
#contentNavAndText h1{
	font-family: 'Permanent Marker';
}
#contentNavAndText a,h2{
	font-family: 'Permanent Marker';
	color: black;
	font-size: 18px;
}
#docNav{
	position: fixed;
	width: 20%;
	/*border-right: solid;
	border-color:#000000;
	border-width:10px;*/
}
#html1Sec{
	width: 80%;
	margin: 0px;
	position: absolute;
	right: 0px;
	float: left;
	overflow:hidden;
}
/*
html{
	background: url(../images/water.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
