div.txtWithImg {
	margin: 1em;
	position: relative;
	width: 30em;
	height: 20em;
	border: 0.2em solid #000;
	overflow: hidden;
	float: left;
	}	
	div.txtWithImg div img{
		height:100%;
	}
	div.txtWithImg div {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
   		-webkit-transition: left 1s ease-in-out;
   		background: linear-gradient(rgb(237, 243, 235), rgb(183, 187, 182));
		}
	div.txtWithImg div.imgTxt{
		font-family: 'Happy Monkey', cursive;
		width: 28em;
		height: 18em;
		padding: 1em;
		text-align:justify;
		font-size:1.0em;
		}
	div.txtWithImg div.txtImg {
		text-align:center;
		z-index: 1000;
		}		
	
div.txtWithImg:hover div.txtImg {
	-webkit-transition: left 1s ease-in-out;
	left: -40em;
}
